.rt-demo-container {
  padding: 16px;
  display: flex;
  flex-flow: row wrap;
  gap: 16px;

  .rt-demo-item {
    flex: 1 0 auto;
  }
}

.rt-form-container {
  width: 100%;
}

.rt-adjust-buttons {
  column-gap: 8px;
  justify-content: flex-end;
  padding: 0 16px 16px 16px;

  .rt-reset-button {
    margin-right: auto;
  }
}
