<div class="rt-demo-container">
  <mat-card appearance="raised" class="rt-demo-item">
    <mat-card-header>
      <mat-card-title>Simple Form (empty)</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="rt-form-container">
        <rt-form-generator [config]="emptyFormConfig"></rt-form-generator>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card appearance="raised" class="rt-demo-item">
    <mat-card-header>
      <mat-card-title>Simple Form (initialized)</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="rt-form-container">
        <rt-form-generator #simpleForm [config]="initializedFormConfig"
                           [data]="initializedFormValue"></rt-form-generator>
      </div>
    </mat-card-content>
    <mat-card-actions class="rt-adjust-buttons">
      <button (click)="reset()" class="rt-reset-button" color="warn" mat-flat-button>Reset</button>
      <button (click)="log()" mat-stroked-button>Log</button>
      <button (click)="submit()" mat-flat-button>Submit</button>
    </mat-card-actions>
  </mat-card>
</div>
