<form [formGroup]="form">
  <div class="rt-form-generator-content">
    @for (abstractControlConfig of config.controls;track abstractControlConfig.key) {
      <ng-container rtAbstractControlInjector [group]="form" [config]="abstractControlConfig"></ng-container>
    }
  </div>

  @if (config.buttons && config.buttons.enable) {
    <div class="rt-form-generator-buttons">
      <button mat-flat-button color="warn" class="rt-right-button"
              (click)="resetForm()">{{ config.buttons.resetLabel ? config.buttons.resetLabel : 'Reset' }}
      </button>
      @for (buttonConfig of config.buttons.extraButtons;track buttonConfig) {
        <button mat-stroked-button color="primary" (click)="buttonClick(buttonConfig.action)">{{ buttonConfig.label }}
        </button>
      }
      <button mat-flat-button color="primary"
              (click)="submitForm()">{{ config.buttons.submitLabel ? config.buttons.submitLabel : 'Submit' }}
      </button>
    </div>
  }
</form>
