.rt-form-generator-content {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin: 16px 0;
}

.rt-form-generator-buttons {
  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
  justify-content: flex-end;

  .rt-right-button {
    margin-right: auto;
  }
}
