<mat-form-field [formGroup]="group" class="rt-full-width">
  <mat-label>{{ config.label }}</mat-label>
  <input [formControlName]="config.key" [type]="config.type" matInput>
  @if (control.invalid) {
    <mat-error>{{ errorSignal() }}</mat-error>
  }
</mat-form-field>
