// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use '@angular/material-experimental' as matx;
// Plus imports for other components in your app.

//// Include the common styles for Angular Material. We include this here so that you only
//// have to load a single css file for Angular Material in your app.
//// Be sure that you only ever include this mixin once!
//@include mat.core();
//
//// Define the palettes for your theme using the Material Design palettes available in palette.scss
//// (imported above). For each palette, you can optionally specify a default, lighter, and darker
//// hue. Available color palettes: https://material.io/design/color/
//$form-generator-primary: mat.define-palette(mat.$blue-palette, 400, 100, 600);
//$form-generator-accent: mat.define-palette(mat.$orange-palette, A200, A100, A400);
//
//// The warn palette is optional (defaults to red).
//$form-generator-warn: mat.define-palette(mat.$red-palette, 400, 100, 600);
//
//// Create the theme object. A theme consists of configurations for individual
//// theming systems such as "color" or "typography".
//$form-generator-theme: mat.define-light-theme((
//  color: (
//    primary: $form-generator-primary,
//    accent: $form-generator-accent,
//    warn: $form-generator-warn,
//  ),
//  typography: mat.define-typography-config(),
//  density: -1
//));
//
//// Include theme styles for core and each component used in your app.
//// Alternatively, you can import and @include the theme mixins for each component
//// that you are using.
//@include mat.all-component-themes($form-generator-theme);

$theme: matx.define-theme((
  color: (
    theme-type: light,
    primary: matx.$m3-blue-palette,
    tertiary: matx.$m3-orange-palette,
  )
));

@include mat.core();
@include matx.color-variants-back-compat($theme);

:root {
  @include mat.all-component-themes($theme);
  @include mat.form-field-density(-2)
}


/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  background-color: rgba(236, 236, 236, 0.8);
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
